.App {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.Container {
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: rgb(255, 253, 252, 0.25);
  color: #fff;
  overflow-wrap: break-word;
  padding: 10px;
  max-width: 400px;
}
h1 {
  font-family: "Modak", cursive;
  text-decoration: wavy;
  color: #fff;
  font-size: 60px;
  text-shadow: 1px 1px 3px #000;
}

button {
  background-color: rgb(255, 253, 252, 0.25);
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}

form {
  padding-bottom: 30px;
}

input {
  background-color: rgb(255, 253, 252, 0.25);
  color: white;
  border: 1px solid #fff;
  border-radius: 6px;
}

input:focus {
  outline: none;
}

footer {
  padding-top: 10px;
  color: white;
  font-size: 10pt;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
button:hover {
  text-shadow: 1px 1px 3px #fff;
  text-decoration: none;
  color: white;
}
