body {
  background: rgb(186, 174, 238);
  background: radial-gradient(
    circle,
    rgba(186, 174, 238, 1) 0%,
    rgba(178, 233, 148, 1) 100%
  );
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
}
